{
	order rate_limit before basicauth
}
:80 {
	redir /favicon.ico /favicon/favicon.ico 301
	root * /usr/share/caddy
	rate_limit {
		zone dynamic_zone {
			key static
			events 100
			window 1s
		}
	}
	encode zstd gzip
	reverse_proxy /smartProgress-or* web-ui.smart-progress-or.svc:8080
	handle /configKeeper* {
		basicauth {
			import configKeeperPassword.txt
		}
		reverse_proxy /configKeeper* config-keeper.config-keeper.svc:3000
	}
	file_server
	log
}
