<div class="w3-panel w3-leftbar" style="margin-top: 0px; margin-bottom: 16px; font-size: 17px">
    SHOWING POSTS: {{.Offset}}...{{.OffsetEnd}} of {{.TotalCount}}; PAGES:
    {{ range $index, $offset := .Pages }}
        <a class="w3-btn w3-black" style="padding: 2px 8px 2px 8px" href="{{$.BaseUrl}}/goals?id={{$.Id}}&offset={{$offset}}"><u>{{$index}}</u></a>
    {{end}}
</div>
{{range $post := .Posts}}
    <div class="w3-dark-grey" style="padding-left: 10px">
        {{$post.Date}}
        <div class="w3-grey" style="display: inline-block; padding-left: 4px; padding-right: 4px">
            <b>{{$post.Type}}</b>
        </div>
        {{$post.Username}}
    </div>
    <div class="w3-panel w3-leftbar w3-border-dark-grey" style="margin-top: 0">
        {{$post.Content}}
        {{if ne (len $post.Images) 0}}
            {{range $image := $post.Images}}
                <img src="{{$image.DataUrl}}" height="150" class="w3-margin-right">
            {{end}}
        {{end}}
        <div class="w3-margin-top"></div>
        {{if ne (len $post.Comments) 0}}
            <div class="w3-dark-grey" style="padding-left: 10px">Comments: {{len $post.Comments}}</div>
            {{range $comment := $post.Comments}}
                <div class="w3-margin-top">
                    <b>{{$comment.User.Username}}:</b>
                </div>
                <div class="w3-panel w3-leftbar w3-border-dark-grey" style="padding-left: 10px; margin-bottom: 0">
                    {{$comment.Content}}
                </div>
            {{end}}
        {{end}}
    </div>
{{end}}