Goals [{{len .Goals}}]
<ul style="margin-top: 4px">
{{range $goal := .Goals}}
    <li title="Goal id: {{$goal.Id}}">
        <a href="{{$.BaseUrl}}/goals?id={{$goal.Id}}">{{$goal.Title}}</a>
        <ul>
            <li>
                <span class="w3-dark-grey" style="padding-left: 3px; padding-right: 3px">Author</span>
                {{$goal.Author}}
            </li>
            <li>
                <span class="w3-dark-grey" style="padding-left: 3px; padding-right: 3px">Post count</span>
                {{$goal.PostCount}}
            </li>
            <li>
                <span class="w3-dark-grey" style="padding-left: 3px; padding-right: 3px">Updated</span>
                {{$goal.UpdatedAt.Format "2006 Jan 02"}}
            </li>
        </ul>
    </li>
{{end}}
</ul>