{
	order rate_limit before basicauth
}
:80 {
	encode zstd gzip
	rate_limit {
			zone dynamic_zone {
					key static
					events 100
					window 1s
			}
	}
	reverse_proxy /smartProgress-or* web-ui.smart-progress-or.svc.cluster.local:8080
}
